<div class="mt-4">
    <div class="row">
        <div class="col-3">
            <div class="btn-primary">Register</div>
        </div>
        <div class="col-9">
            <h2>{{course.name}}</h2>
            <p>{{course.description}}</p>
            <img src="{{course.image}}" alt="{{course.name}}">
        </div>
    </div>
</div>